<nav class="flex items-center justify-between p-2 bg-neutral-100">
<a href="{{path('app_home')}}">
	<img src="https://avatar.iran.liara.run/public/26" alt="logo" width="32" class="transition-transform duration-200 ease-in-out rounded-full hover:scale-95">
</a>
	<div class="flex items-center justify-between gap-4">
		<form action="{{path('app_search')}}" method="get" class="items-center hidden p-1 rounded-md bg-slate-100 md:flex">
			<input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">
			<input type="text" name="q" id="" placeholder="Looking for a specific note?" class="bg-transparent outline-none">
			<button type="submit">{{ux_icon('mdi:search',{'class':'h-6 w-6 text-neutral-600 hover:text-violet-600'})}}</button>
		</form>
		<div class="flex items-center justify-between gap-4">
			<a href="{{path('app_note_new')}}" class="p-2 border-2 rounded-md border-neutral-700">
				{{ux_icon('mdi:plus-box-outline',{'class':'h-6 w-6 text-neutral-600 hover:text-violet-600'})}}
			</a>
			<a href="{{path('app_profile_edit')}}" class="p-1 border-2 rounded-md border-neutral-700">
				{{ux_icon('mdi:cog-outline',{'class':'h-6 w-6 text-neutral-600 hover:text-violet-600'})}}
			</a>
			<a href="{{path('app_profile',{'username':app.user.username ?? ''})}}" class="p-2 transition-transform duration-200 ease-in-out rounded-full shadow-md hover:scale-95">
				<img src="https://avatar.iran.liara.run/public/13" alt="profile picture" width="32" class="rounded-full">
			</a>
		</div>
	</div>
</nav>